/**/

html,body {
  background: rgb(13, 236, 106);
  height: 100%;
}

.out {
  border: solid 1px rgb(5, 49, 247);
  border-radius: 20px;
  padding: 10px;
  margin: 5px;
  height: 40%;
  background: white;
}

#btn {
  font-size: 2em;
}

#btn::after {
  content: "▶";
  color: green;
}
